<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>TaskName</key>
		<string>发朋友圈动态</string>
		<key>TaskID</key>
		<string>1</string>
		<key>TaskType</key>
		<string>1</string>
		<key>PersonName</key>
		<string>吕晶</string>
		<key>PersonID</key>
		<string>15936</string>
		<key>Count</key>
		<string>100</string>
		<key>Time</key>
		<string>03-21</string>
		<key>TaskStatus</key>
		<string>已完成</string>
		<key>MemberArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>张三</string>
				<key>memberID</key>
				<string>15900</string>
				<key>icon</key>
				<string>icon1.JPG</string>
				<key>status</key>
				<string>已完成</string>
				<key>count</key>
				<string>10</string>
				<key>getTime</key>
				<string>03-21</string>
				<key>finishTime</key>
				<string>03-21</string>
			</dict>
			<dict>
				<key>name</key>
				<string>李四</string>
				<key>memberID</key>
				<string>15901</string>
				<key>icon</key>
				<string>icon2.JPG</string>
				<key>status</key>
				<string>进行中</string>
				<key>count</key>
				<string>10</string>
				<key>getTime</key>
				<string>03-21</string>
				<key>finishTime</key>
				<string>03-21</string>
			</dict>
			<dict>
				<key>name</key>
				<string>王五</string>
				<key>memberID</key>
				<string>15902</string>
				<key>icon</key>
				<string>icon1.JPG</string>
				<key>status</key>
				<string>已拒绝</string>
				<key>count</key>
				<string>10</string>
				<key>getTime</key>
				<string>03-21</string>
				<key>finishTime</key>
				<string>03-21</string>
			</dict>
			<dict>
				<key>name</key>
				<string>赵六</string>
				<key>memberID</key>
				<string>15903</string>
				<key>icon</key>
				<string>icon3.JPG</string>
				<key>status</key>
				<string>已拒绝</string>
				<key>count</key>
				<string>10</string>
				<key>getTime</key>
				<string>03-21</string>
				<key>finishTime</key>
				<string>03-21</string>
			</dict>
			<dict>
				<key>name</key>
				<string>赵六</string>
				<key>memberID</key>
				<string>15903</string>
				<key>icon</key>
				<string>icon2.JPG</string>
				<key>status</key>
				<string>进行中</string>
				<key>count</key>
				<string>10</string>
				<key>getTime</key>
				<string>03-21</string>
				<key>finishTime</key>
				<string>03-21</string>
			</dict>
			<dict>
				<key>name</key>
				<string>赵六</string>
				<key>memberID</key>
				<string>15903</string>
				<key>icon</key>
				<string>icon4.JPG</string>
				<key>status</key>
				<string>已完成</string>
				<key>count</key>
				<string>10</string>
				<key>getTime</key>
				<string>03-21</string>
				<key>finishTime</key>
				<string>03-21</string>
			</dict>
			<dict>
				<key>name</key>
				<string>赵六</string>
				<key>memberID</key>
				<string>15903</string>
				<key>icon</key>
				<string>icon3.JPG</string>
				<key>status</key>
				<string>已完成</string>
				<key>count</key>
				<string>10</string>
				<key>getTime</key>
				<string>03-21</string>
				<key>finishTime</key>
				<string>03-21</string>
			</dict>
			<dict>
				<key>name</key>
				<string>赵六</string>
				<key>memberID</key>
				<string>15903</string>
				<key>icon</key>
				<string>icon4.JPG</string>
				<key>status</key>
				<string>已完成</string>
				<key>count</key>
				<string>10</string>
				<key>getTime</key>
				<string>03-21</string>
				<key>finishTime</key>
				<string>03-21</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>TaskName</key>
		<string>城与城消费</string>
		<key>TaskID</key>
		<string>2</string>
		<key>TaskType</key>
		<string>2</string>
		<key>PersonName</key>
		<string>张三</string>
		<key>PersonID</key>
		<string>15900</string>
		<key>Count</key>
		<string>10</string>
		<key>Time</key>
		<string>03-21</string>
		<key>TaskStatus</key>
		<string>进行中</string>
		<key>MemberArray</key>
		<array/>
	</dict>
	<dict>
		<key>TaskName</key>
		<string>观看广告</string>
		<key>TaskID</key>
		<string>3</string>
		<key>TaskType</key>
		<string>1</string>
		<key>PersonName</key>
		<string>吕晶</string>
		<key>PersonID</key>
		<string>15936</string>
		<key>Count</key>
		<string>100</string>
		<key>Time</key>
		<string>03-21</string>
		<key>TaskStatus</key>
		<string>进行中</string>
		<key>MemberArray</key>
		<array>
			<dict>
				<key>name</key>
				<string>张三</string>
				<key>memberID</key>
				<string>15900</string>
				<key>icon</key>
				<string>icon1.JPG</string>
				<key>status</key>
				<string>已完成</string>
				<key>count</key>
				<string>10</string>
				<key>getTime</key>
				<string>03-21</string>
				<key>finishTime</key>
				<string>03-21</string>
			</dict>
			<dict>
				<key>name</key>
				<string>李四</string>
				<key>memberID</key>
				<string>15901</string>
				<key>icon</key>
				<string>icon2.JPG</string>
				<key>status</key>
				<string>已完成</string>
				<key>count</key>
				<string>10</string>
				<key>getTime</key>
				<string>03-21</string>
				<key>finishTime</key>
				<string>03-21</string>
			</dict>
			<dict>
				<key>name</key>
				<string>王五</string>
				<key>memberID</key>
				<string>15902</string>
				<key>icon</key>
				<string>icon3.JPG</string>
				<key>status</key>
				<string>进行中</string>
				<key>count</key>
				<string>10</string>
				<key>getTime</key>
				<string>03-21</string>
				<key>finishTime</key>
				<string>03-21</string>
			</dict>
			<dict>
				<key>name</key>
				<string>赵六</string>
				<key>memberID</key>
				<string>15903</string>
				<key>icon</key>
				<string>icon4.JPG</string>
				<key>status</key>
				<string>已拒绝</string>
				<key>count</key>
				<string>10</string>
				<key>getTime</key>
				<string>03-21</string>
				<key>finishTime</key>
				<string>03-21</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
