<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>Money_YinHangKa.png</string>
		<key>title</key>
		<string>我的会员卡</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Money_JiFen.png</string>
		<key>title</key>
		<string>我的积分</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Money_HuaHua.png</string>
		<key>title</key>
		<string>我的花花</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Wallet_粉丝宝.png</string>
		<key>title</key>
		<string>我的粉丝宝</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Wallet_奖励金.png</string>
		<key>title</key>
		<string>我的奖励金</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Wallet_养车宝.png</string>
		<key>title</key>
		<string>我的养车宝</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Wallet_游戏.png</string>
		<key>title</key>
		<string>联城游戏</string>
	</dict>
</array>
</plist>
