<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconUrl</key>
		<string>hh_meishi.png</string>
		<key>iconTitle</key>
		<string>美食</string>
		<key>clickType</key>
		<string></string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string>hh_liren.png</string>
		<key>iconTitle</key>
		<string>丽人</string>
		<key>clickType</key>
		<string></string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string>hh_ktv.png</string>
		<key>iconTitle</key>
		<string>KTV</string>
		<key>clickType</key>
		<string></string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string>yangyuan.png</string>
		<key>iconTitle</key>
		<string>养车宝</string>
		<key>clickType</key>
		<string></string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string>yxyuan.png</string>
		<key>iconTitle</key>
		<string>游戏</string>
		<key>clickType</key>
		<string></string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string>icon_home_huoche.png</string>
		<key>iconTitle</key>
		<string>车票</string>
		<key>clickType</key>
		<string></string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string>icon_home_feiji.png</string>
		<key>iconTitle</key>
		<string>机票</string>
		<key>clickType</key>
		<string></string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string>hh_more.png</string>
		<key>iconTitle</key>
		<string>更多</string>
		<key>clickType</key>
		<string></string>
	</dict>
</array>
</plist>
