<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>name</key>
		<string>养车宝</string>
		<key>time</key>
		<string>09:00</string>
		<key>result</key>
		<string>你还有8.58元红包等待领取</string>
		<key>desc</key>
		<string>快乐为伍 自在车生活</string>
		<key>btnText</key>
		<string>立即查看</string>
		<key>contentImg</key>
		<string></string>
		<key>type</key>
		<string>1</string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>name</key>
		<string>联城游戏</string>
		<key>time</key>
		<string>09:00</string>
		<key>result</key>
		<string>玩游戏，赢大奖</string>
		<key>desc</key>
		<string>赶紧行动吧</string>
		<key>btnText</key>
		<string>立即查看</string>
		<key>contentImg</key>
		<string></string>
		<key>type</key>
		<string>2</string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>name</key>
		<string>粉丝宝</string>
		<key>time</key>
		<string>09:00</string>
		<key>result</key>
		<string>你有87.74元红包等待领取</string>
		<key>desc</key>
		<string>2017-09-05 粉丝宝红包</string>
		<key>btnText</key>
		<string>立即查看</string>
		<key>contentImg</key>
		<string></string>
		<key>type</key>
		<string>3</string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>name</key>
		<string>天城</string>
		<key>time</key>
		<string>09:00</string>
		<key>result</key>
		<string></string>
		<key>desc</key>
		<string></string>
		<key>btnText</key>
		<string>立即查看</string>
		<key>contentImg</key>
		<string></string>
		<key>type</key>
		<string>5</string>
	</dict>
	<dict>
		<key>iconUrl</key>
		<string></string>
		<key>name</key>
		<string>联城推荐</string>
		<key>time</key>
		<string>09:00</string>
		<key>result</key>
		<string></string>
		<key>desc</key>
		<string></string>
		<key>btnText</key>
		<string>立即查看</string>
		<key>contentImg</key>
		<string></string>
		<key>type</key>
		<string>4</string>
	</dict>
</array>
</plist>
