<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>btnArray</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>hh_meishi.png</string>
			<key>title</key>
			<string>美食</string>
			<key>homeBtnType</key>
			<string></string>
			<key>homeBtnUrl</key>
			<string></string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>hh_liren.png</string>
			<key>title</key>
			<string>丽人</string>
			<key>homeBtnType</key>
			<string></string>
			<key>homeBtnUrl</key>
			<string></string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>hh_ktv.png</string>
			<key>title</key>
			<string>KTV</string>
			<key>homeBtnType</key>
			<string></string>
			<key>homeBtnUrl</key>
			<string></string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>yangyuan.png</string>
			<key>title</key>
			<string>养车宝</string>
			<key>homeBtnType</key>
			<string></string>
			<key>homeBtnUrl</key>
			<string></string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>yxyuan.png</string>
			<key>title</key>
			<string>游戏</string>
			<key>homeBtnType</key>
			<string></string>
			<key>homeBtnUrl</key>
			<string></string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>icon_home_huoche.png</string>
			<key>title</key>
			<string>车票</string>
			<key>homeBtnType</key>
			<string></string>
			<key>homeBtnUrl</key>
			<string></string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>icon_home_feiji.png</string>
			<key>title</key>
			<string>机票</string>
			<key>homeBtnType</key>
			<string></string>
			<key>homeBtnUrl</key>
			<string></string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>hh_hotel.png</string>
			<key>title</key>
			<string>酒店</string>
			<key>homeBtnType</key>
			<string></string>
			<key>homeBtnUrl</key>
			<string></string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>icon_home_jingdian.png</string>
			<key>title</key>
			<string>景点</string>
			<key>homeBtnType</key>
			<string></string>
			<key>homeBtnUrl</key>
			<string></string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>hh_more.png</string>
			<key>title</key>
			<string>更多</string>
			<key>homeBtnType</key>
			<string></string>
			<key>homeBtnUrl</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
