<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>iconImg</key>
		<string>ZZ_图标.png</string>
		<key>functionName</key>
		<string>转账给城与城账户</string>
		<key>isLast</key>
		<string>0</string>
	</dict>
	<dict>
		<key>iconImg</key>
		<string>ZZ_图标.png</string>
		<key>functionName</key>
		<string>转账给商户</string>
		<key>isLast</key>
		<string>1</string>
	</dict>
</array>
</plist>
